<!DOCTYPE html>
    <html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>pagina inicial</title>
     <link href="resources/static/bootstrap/css//bootstrap.min.css" rel="stylesheet" media="screen"> </link>
        
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="estilos/estilos.css"/>    
          </head>
        <body>
            <div  class="panel-group">
                <div class="panel panel-default">
                 <div class="panel-heading">
                     <h3 class="panel-title" data-toggle="collapse" data-target="#terceiro-paragrafo" data-parent="#paineis-sobre"></h3>
                        <p>alegria para um novo site!!!</p>
                    </div>  
                    
                    <div id="terceiro-paragrafo" class="collapse">
                        <div class="panel-body">
                        <p>A TopCasa Fina Arquitetura está no mercado desde... </p>
                        <p>ajdando a sociedade curitibana a muito tempo</p>    
                    </div>    
                    </div>
            </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
             <script src="js/bootstrap.min.js"></script>
        </body>            
</html>
        
        