<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>pagina inicial</title>

</head>
<body>
	<div class="container">
		<div class="jumbotron" align="center" style="margin-top: 60px;">
			<h1>tutorial thymeLeaf</h1>
			<div align="center">
				<a href="listaconvidados" class="btn btn-lg btn-primary">clique aqui para se cadastrar</a>
			</div>
		</div>


		<td><span th:if="${numero} gt 8" th:text="Male" /></td>
		<td><span th:if="${numero} lt 5" th:text="Female" /></td> 
		
		Current time is <span th:text="${serverTime}" />

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>